.header {
    height: 120px;
    background: #d0151a;
    /* linear-gradient(0, #fe6433, #f53e2d); */
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}


.header__navbar-list {
    list-style: none;
    padding-left: 0px;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item, 
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
    top: 0;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item:hover, 
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--separate::after
{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #d8827b9f ;
    height: 14px;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    
}

.header__navbar-icon-link {
    text-decoration: none;
    color: var(--white-color);
    margin: 0 2px;
}

.header__navbar-title {
    cursor: text;
    color: var(--white-color);
    margin: 0 4px;
}

/* Header__QR code */
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    top: 100%;
    position: absolute;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 17px;   
    
}

.header__qr-link:nth-child(1) {
    margin-left: 13px;
}

.header__qr-link:nth-child(2) {
    margin-right: 12px;
}